/* 引入 Loading 樣式 */
@import '../Loading/Loading.css';

.indicator-item {
  margin-bottom: 20px;
  position: relative; /* 將 indicator-item 設定為 relative */
}

.indicator-chart {
  width: 100%;
  height: 300px; /* 可以根據需要調整高度 */
}

/* 新增以下部分 */
@media (max-width: 768px) {
  .indicator-chart {
    height: 200px; /* 在小螢幕上調整圖表高度 */
  }
}

.tooltip {
    position: absolute;
    z-index: 10;
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 0.8em;
    white-space: normal;
    width: 200px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    margin-top: 5px;
}

.indicator-item.analysis-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    white-space: nowrap;
    margin: 10px 5%;
}



.interactive-label {
    text-decoration: underline dotted #007bff; /* 使用藍色虛線底線 */
    text-underline-offset: 3px; /* 調整虛線與文字的距離 */
    text-decoration-thickness: 1.5px; /* 加粗虛線 */
    cursor: help; /* 顯示滑鼠指標為問號 */
    color: inherit; /* 保持文字顏色不變 */
}

/* 新增情緒文字顏色 */
/* 更新：使用英文鍵名 */
.analysis-value.sentiment-extremeFear {
  color: #143829; /* 極度恐懼 - 深綠色 */
}

.analysis-value.sentiment-fear {
  color: #2B5B3F; /* 恐懼 - 綠色 */
}

.analysis-value.sentiment-neutral {
  color: #E9972D; /* 中性 - 黃色 */
}

.analysis-value.sentiment-greed {
  color: #C4501B; /* 貪婪 - 橘色 */
}

.analysis-value.sentiment-extremeGreed {
  color: #A0361B; /* 極度貪婪 - 紅色 */
}
