.ad-banner-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  max-width: 975px;
/*  display: none; /* 顯示 ad banner */
}

.ad-banner {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 95px;
  width: 100%;
}

.ad-content {
  max-width: 970px;
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 728px;
  text-align: center;
}

.ad-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  border-radius: 4px;
  color: #666;
}

.ad-close-button {
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: #f0f2f5;
  border-radius: 50%;
  color: #888;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease, background-color 0.2s ease;
  z-index: 1001;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.ad-close-button:hover {
  opacity: 1;
  background-color: #e0e0e0;
}

.ad-close-button svg {
  width: 15px;
  height: 15px;
}

@media (max-width: 720px) {
  .ad-banner-container {
    width: 320px;
    max-width: none;
    left: -5%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: none;
  }
  .ad-content {
    min-height: 50px;
    max-height: 100px;
    min-width: 0;
    max-width: 728px;
    text-align: center;
  }
  .ad-close-button {
    width: 40px;
    height: 40px;
    color: #888;
    top: -15px;
    left: 5px;
  }
  .ad-close-button svg {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 721px) and (max-width: 969px) {
  .ad-banner-container {
    max-width: 748px;
    width: 100%;
    left: 49%;
  }
  .ad-banner {
    max-width: 748px;
  }
  .ad-content {
    max-width: 728px;
    min-width: 0;
    text-align: center;
  }
}

.ad-banner--collapsed {
  max-height: 25px;
  overflow: hidden;
  padding-bottom: 0;
  transition: max-height 0.3s ease-out, padding-bottom 0.3s ease-out;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ad-banner--collapsed .ad-content {
  display: none;
}

.ad-banner--collapsed .ad-close-button {
  position: static;
  opacity: 1;
  background-color: #f0f2f5;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.ad-banner--collapsed .ad-close-button:hover {
  opacity: 1;
  background-color: #e0e0e0;
}

.ad-banner--collapsed .ad-close-button svg {
  width: 15px;
  height: 15px;
  color: #666;
} 